<!-- <div class="container">




    <div *ngIf="officers.length> 0" class="search-results mt-4">
        <h3>Results</h3>
        <ul class="list-group">
            <li *ngFor="let officer of officers" class="list-group-item">
                <p><strong> {{ officer.name}}</strong></p>
                <p><strong>Role:</strong> {{ officer.officer_role}}</p>

            </li>
        </ul>
    </div>
</div> -->




<div class="container">
  <h2>Officers List</h2>

  <div *ngIf="officers.length > 0" class="search-results mt-4">
    <h3>Results</h3>
    <mat-list>
      <div *ngFor="let officer of officers">
        <mat-card class="company-card">
          <mat-card-title>
            <h4>{{ officer.name }}</h4>
          </mat-card-title>
          <mat-card-content class="card-info">
            <p><strong>Role:</strong> {{ officer.officer_role}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list>
  </div>


  <div *ngIf="officers && officers.length === 0" class="mt-4">
    <p>No officers found in the company.</p>
  </div>
</div>
